<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Formulario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a></li>
            <li> <a href="texto.html">Texto</a></li>
            <li> <a href="media.html">Media</a></li>
            <li> <a href="tabla.html">Tablas</a></li>
            <li> <a href="formulario.html">Formularios</a></li>
        </ul>
    </header>
    <main>
        <h1>Formulario</h1>
        <form>
            <label>Nombre completo:</label>
            <br />
            <input type="text" id="txtNombre" required />
            <br />
            <br />

            <label>Correo:</label>
            <br />
            <input type="email" id="txtCorreo" required />
            <br />
            <br />

            <label>Fecha:</label>
            <br />
            <input type="date" id="txtFecha" required />
            <br />
            <br />

            <label>Teléfono:</label>
            <br />
            <input type="tel" id="txtTelefono" placeholder="0000-0000" required />
            <br />
            <br />

            <label>Asunto:</label>
            <br />
            <select id="slAsunto">
                <option value="VENTAS">VENTAS</option>
                <option value="SOPORTE">SOPORTE</option>
                <option value="RECLAMO">RECLAMO</option>
            </select>
            <br />
            <br />

            <label>Mensaje:</label>
            <br />
            <textarea id="txtMensaje" rows="3" cols="60"></textarea>
            <br />
            <br />

            <button type="submit">Enviar</button>
        </form>
    </main>

    <footer>
        Derechos reservados &copy; 2024
    </footer>

    <!-- direccionamiento -->
    <!--<br />
    <a href="../index.html">Regresar al inicio</a>-->
</body>
</html>