<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a></li>
            <li> <a href="texto.html">Texto</a></li>
            <li> <a href="media.html">Media</a></li>
            <li> <a href="tabla.html">Tablas</a></li>
            <li> <a href="formulario.html">Formularios</a></li>
        </ul>
    </header>
    <main>
        <h1>Media</h1>
        
        <img src="../images/imagen1.jpg" alt="Planeta" height="300" width="350" />
        <img src="../images/imagen2.jpg" alt="Deforestacion" height="300" width="350" />
        <br />

        <video controls width="700">
            <source src="../assets/video.mp4" type="video/mp4" />
        </video>

        <audio controls>
            <source src="../assets/audio.mp3" type="audio/mp3" />
        </audio>

    </main>
    <footer>
        Derechos reservados &copy; 2024
    </footer>

    <!-- direccionamiento -->
    <!--<br />
    <a href="../index.html">Regresar al inicio</a>-->

</body>
</html>