<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tabla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a></li>
            <li> <a href="texto.html">Texto</a></li>
            <li> <a href="media.html">Media</a></li>
            <li> <a href="tabla.html">Tablas</a></li>
            <li> <a href="formulario.html">Formularios</a></li>
        </ul>
    </header>
    <main>
        <h1>Tabla</h1>

        <table>
            <tr>
                <td>#</td>
                <td>CODIGO</td>
                <td>ESTUDIANTE</td>
            </tr>
            <tr>
                <td>1</td>
                <td>AA24001</td>
                <td>Juan Camilo Avalos Avalos</td>
            </tr>           
            <tr>
                <td>2</td>
                <td>AB24002</td>
                <td>Juan Ramon Avalos Batres</td>
            </tr>           
            <tr>
                <td>3</td>
                <td>BB24003</td>
                <td>Juan Camilo Batres Barrera</td>
            </tr>
        </table>
        <br />

        <table>
            <thead>
                <th>#</th>
                <th>CODIGO</th>
                <th>ESTUDIANTE</th>
            </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>AA24001</td>
                        <td>Juan Camilo Avalos Avalos</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>AB24002</td>
                        <td>Juan Ramon Avalos Batres</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>BB24003</td>
                        <td>Juan Camilo Batres Barrera</td>
                    </tr>
                </tbody>
        </table>
    </main>
    <footer>
        Derechos reservados &copy; 2024
    </footer>


    <!-- direccionamiento -->
    <!--<br />
    <a href="../index.html">Regresar al inicio</a>-->

</body>
</html>