<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Texto</title>
    <meta name="viewport" content="width=device=width" , initial="scale=1.0" />
</head>
<body>
    <h1>Título 1</h1>
    <h2>Título 1</h2>
    <h3>Título 1</h3>
    <h4>Título 1</h4>
    <h5>Título 1</h5>
    <h6>Título 1</h6>

    <p>Esto es un parrafo</p>
    <p>Esto es un <b>parrafo</b> </p>
    <p>Esto es un <i>parrafo</i> </p>
    <p>Esto es un <u>parrafo</u> </p>

    <!-- direccionamiento -->
    <br />
    <a href="../index.html">Regresar al inicio</a>
</body>
</html>