<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Texto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a></li>
            <li> <a href="texto.html">Texto</a></li>
            <li> <a href="media.html">Media</a></li>
            <li> <a href="tabla.html">Tablas</a></li>
            <li> <a href="formulario.html">Formularios</a></li>
        </ul>
    </header>
    <main>
        <h1>Título 1</h1>
        <h2>Título 2</h2>
        <h3>Título 3</h3>
        <h4>Título 4</h4>
        <h5>Título 5</h5>
        <h6>Título 6</h6>

        <p>Esto es un parrafo</p>
        <p>Esto es un <b>parrafo</b> </p>
        <p>Esto es un <i>parrafo</i> </p>
        <p>Esto es un <u>parrafo</u> </p>
    </main>
    <footer>
        Derechos reservados &copy; 2024
    </footer>

    <!-- direccionamiento -->
    <!--<br />
    <a href="../index.html">Regresar al inicio</a>-->
</body>
</html>